html, body {
        background-color: #fff;
        color: #636b6f;
        font-family: 'Raleway', sans-serif;
        height: 100vh;
        margin: 0;
}

.full-height {
        height: 100vh;
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }

    .content {
        text-align: center;
    }

    .title {
        font-size: 84px;
    }

    .links > a {
        /* color: #636b6f; */
        padding: 0 25px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    .m-b-md {
        margin-bottom: 30px;
    }


.container {
	padding-left: 0;
	padding-right: 0;
}

p {
	color: black;
}

.top-line {
    margin: 0;
    padding: 0;
    font-family:'Raleway', sans-serif;
    font-size: 15px;
}

.row {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.panel-heading {
	
}

.dropdown {
	margin-left: 20px;
}

.dropdown-menu li {
	text-align:center;
	border-bottom: 1px solid rgba(0, 0, 0,.3);
}

.btn-success {
    float: right
}







